body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
  background-color: rgb(65, 33, 211) ;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='button'] {
  padding: 10px 20px;
  font-weight: bold;
  border: 0px;
  border-radius: 35px;
  word-wrap: break-word;
}

a:visited {
  color: white;
}

a:hover {
  color: grey;
}

.headline-1 {
  font-size: 30px;
  margin: 15px 0px;
}

.headline-2 {
  font-size: 40px;
  margin: 15px 0px;
}

.headline-3 {
  font-size: 18px;
  margin: 30px 0px;
}

.headline-4 {
  font-size: 19px;
  font-style: bold;
  margin: 100px 0px
}

.section-2 {
  background-color: rgb(65, 33, 211) ;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headline-5 {
  font-size: 30px;
  margin: 5px 0px;
  font-weight: bold;
}

.headline-6 {
  font-size: 17px;
  margin: 5px 0px;
}

.headline-7 {
  font-size: 17px;
  margin: 5px 0px;
}

.headline-8 {
  font-size: 17px;
  margin: 5px 0px;
  text-decoration: underline;
  font-weight: bold;
}

